# Angular / Node

node_modules/
dist/
out-tsc/
tmp/
temp/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs

.vscode/
.idea/
*.swp
*.swo

# OS

.DS_Store
Thumbs.db

# Angular

.angular/
.cache/

# Environment

.env
.env.local

# Coverage / testing

coverage/

# Misc

*.log
*.tmp
*.bak

# Build

build/
